In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import seaborn as sns

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
mydata=pd.read_csv("bill_authentication.csv")

In [6]:
mydata.head(10)

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661  -2.80730 -0.44699      0
1   4.54590    8.1674  -2.45860 -1.46210      0
2   3.86600   -2.6383   1.92420  0.10645      0
3   3.45660    9.5228  -4.01120 -3.59440      0
4   0.32924   -4.4552   4.57180 -0.98880      0
5   4.36840    9.6718  -3.96060 -3.16250      0
6   3.59120    3.0129   0.72888  0.56421      0
7   2.09220   -6.8100   8.46360 -0.60216      0
8   3.20320    5.7588  -0.75345 -0.61251      0
9   1.53560    9.1772  -2.27180 -0.73535      0

In [7]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Variance  1372 non-null   float64
 1   Skewness  1372 non-null   float64
 2   Curtosis  1372 non-null   float64
 3   Entropy   1372 non-null   float64
 4   Class     1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [8]:
# we can see there are 1372  rows and 5 columns in the dataset...out of which 4 cols are float and 1 column is integer

In [9]:
# Let us check whether dataset has any other non-numeric value in rows or columns

In [10]:
mydata[~mydata.applymap(np.isreal).all(1)]

Empty DataFrame
Columns: [Variance, Skewness, Curtosis, Entropy, Class]
Index: []

In [11]:
# since there is no output, we can conclude that there is no non-numeric values or junk characters

In [12]:
## Model Buliding

In [17]:
from sklearn.model_selection import train_test_split
target = mydata["Class"]
features = mydata.drop(["Class"], axis=1)
#print (features)
#print (target)

X_train, X_test, y_train, y_test = train_test_split(features,target, test_size = 0.25, random_state = 0)
from sklearn.svm import SVC
svc_model = SVC(kernel='linear')
svc_model.fit(X_train, y_train)
prediction = svc_model .predict(X_test)

# To calculate the accuracy score of the model
from sklearn.metrics import accuracy_score, precision_score, recall_score

# check the accuracy on the training set
print(svc_model.score(X_train, y_train))
print(svc_model.score(X_test, y_test))
print("Accuracy:",accuracy_score(y_test, prediction))
print("Precision:",precision_score(y_test, prediction))
print("Recall:",recall_score(y_test, prediction))

0.9912536443148688
0.9854227405247813
Accuracy: 0.9854227405247813
Precision: 0.9673202614379085
Recall: 1.0

In [20]:
# To calculate the  confusion_matrix of the model
from sklearn.metrics import classification_report
cnf_matrix = confusion_matrix(y_test, prediction)
cnf_matrix

array([[190,   5],
       [  0, 148]], dtype=int64)

In [22]:
# To calculate the  confusion_matrix of the model
from sklearn.metrics import classification_report
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

           0       1.00      0.97      0.99       195
           1       0.97      1.00      0.98       148

    accuracy                           0.99       343
   macro avg       0.98      0.99      0.99       343
weighted avg       0.99      0.99      0.99       343