In [99]:
import numpy as np

In [100]:
import pandas as pd

In [101]:
import seaborn as sns

In [102]:
from scipy.stats import zscore

In [103]:
import matplotlib.pyplot as plt
%matplotlib inline

In [104]:
mydata=pd.read_csv("diabetes.csv")

In [105]:
mydata.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [106]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [107]:
# we can see there are 768 rows and 9 columns in the dataset...out of which 7 cols are integers and 2 columns are float..

In [108]:
# Let us check whether dataset has any other non-numeric value in rows or columns

In [109]:
mydata[~mydata.applymap(np.isreal).all(1)]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [110]:
# since there is no output, we can conclude that there is no non-numeric values or junk characters

In [111]:
 # After Analysing the dataset, we can see '0' values for the columns 'Glucose','BloodPressure','SkinThickness','Insulin','BMI'
# which is practically not possible for any human beings. So there is definitely missing values for these columns..
# Lets see the count of missing values for these columns.

In [112]:
print((mydata[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']]==0).sum())

Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
dtype: int64

In [113]:
# Deleting the missing values may reduce the dataset count aggressively from 768 to 392...
# So, lets first update those '0' values to NaN values..

In [114]:
mydata[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']] =mydata[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']].replace(0,np.NaN)

In [115]:
mydata.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [116]:
mydata.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [117]:
# Then lets replace the missing values(NaN) of each columns by its mean value...

In [118]:
mydata.mean()

Pregnancies                   3.845052
Glucose                     121.686763
BloodPressure                72.405184
SkinThickness                29.153420
Insulin                     155.548223
BMI                          32.457464
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [119]:
mydata.fillna(mydata.mean(), inplace = True)

In [120]:
mydata.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [121]:
# now we can see there is no missing values in the dataset...

In [122]:
mydata.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.000000,35.00000,155.548223,33.600000,0.627,50,1
1,1,85.0,66.000000,29.00000,155.548223,26.600000,0.351,31,0
2,8,183.0,64.000000,29.15342,155.548223,23.300000,0.672,32,1
3,1,89.0,66.000000,23.00000,94.000000,28.100000,0.167,21,0
4,0,137.0,40.000000,35.00000,168.000000,43.100000,2.288,33,1
5,5,116.0,74.000000,29.15342,155.548223,25.600000,0.201,30,0
6,3,78.0,50.000000,32.00000,88.000000,31.000000,0.248,26,1
7,10,115.0,72.405184,29.15342,155.548223,35.300000,0.134,29,0
8,2,197.0,70.000000,45.00000,543.000000,30.500000,0.158,53,1
9,8,125.0,96.000000,29.15342,155.548223,32.457464,0.232,54,1

In [123]:
mydata.groupby('Outcome').size()

Outcome
0    500
1    268
dtype: int64

In [124]:
mydata.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Pregnancies,768.0,3.845052,3.369578,0.000,1.00000,3.000000,6.000000,17.00
Glucose,768.0,121.686763,30.435949,44.000,99.75000,117.000000,140.250000,199.00
BloodPressure,768.0,72.405184,12.096346,24.000,64.00000,72.202592,80.000000,122.00
SkinThickness,768.0,29.153420,8.790942,7.000,25.00000,29.153420,32.000000,99.00
Insulin,768.0,155.548223,85.021108,14.000,121.50000,155.548223,155.548223,846.00
BMI,768.0,32.457464,6.875151,18.200,27.50000,32.400000,36.600000,67.10
DiabetesPedigreeFunction,768.0,0.471876,0.331329,0.078,0.24375,0.372500,0.626250,2.42
Age,768.0,33.240885,11.760232,21.000,24.00000,29.000000,41.000000,81.00
Outcome,768.0,0.348958,0.476951,0.000,0.00000,0.000000,1.000000,1.00

In [125]:
# Pima Diabetes Project - Insight Summary:

# After performing the exploratory data analysis, we can able to find BloodPressure, BMI and Glucose were the attributes which
# controls the Outcome considerably whether the women is going to be diabetic or non diabetic..
# There were missing values in the dataset which was identified and updated by its attribute's mean value.
# There are many outliers in the dataset which are shown using Box plot graph..
# Mean & Median for BloodPressure, BMI & Glucose are so close..hence it shows the normal distribution...
# From Histogram and Pairplot, it is visible that BloodPressure shows very good normal distribution graph...
# Apart from BloodPressure, BMI & Glucose rest of the attributes are mostly right skewed or asymmetrical..
# Good correlation exists between Age vs Pregnancies, Glucose vs Outcome, BMI vs SkinThickness & Glucose vs Insulin..
# We can see considerable good Linear relationship between attributes Bloodpressure vs Glucose..

In [126]:
## Model Buliding

In [127]:
mydata.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1

In [128]:
from sklearn.model_selection import train_test_split
# To calculate the accuracy score of the model
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score
target = mydata["Outcome"]
#print (target)
#features = mydata.drop([ "Pregnancies", "SkinThickness", "Insulin", "DiabetesPedigreeFunction", "Age", "Outcome"], axis=1)
#print (features)
features = mydata.drop(["Outcome"], axis=1)

In [129]:
# convert the features into z scores as we do not know what units / scales were used and store them in new dataframe
# It is always adviced to scale numeric attributes in models that calculate distances.
features_df_z = features.apply(zscore)  # convert all attributes to Z scale 
features_df_z.describe()
#print(features_df_z)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02,7.680000e+02
mean,2.544261e-17,-3.301757e-16,6.966722e-16,6.866252e-16,-2.352033e-16,3.090699e-16,2.462585e-16,1.857600e-16
std,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00,1.000652e+00
min,-1.141852e+00,-2.554131e+00,-4.004245e+00,-2.521670e+00,-1.665945e+00,-2.075119e+00,-1.189553e+00,-1.041549e+00
25%,-8.448851e-01,-7.212214e-01,-6.953060e-01,-4.727737e-01,-4.007289e-01,-7.215397e-01,-6.889685e-01,-7.862862e-01
50%,-2.509521e-01,-1.540881e-01,-1.675912e-02,8.087936e-16,-3.345079e-16,-8.363615e-03,-3.001282e-01,-3.608474e-01
75%,6.399473e-01,6.103090e-01,6.282695e-01,3.240194e-01,-3.345079e-16,6.029301e-01,4.662269e-01,6.602056e-01
max,3.906578e+00,2.541850e+00,4.102655e+00,7.950467e+00,8.126238e+00,5.042087e+00,5.883565e+00,4.063716e+00

In [130]:
X = np.array(features_df_z)
X.shape

(768, 8)

In [131]:
# store the bc_labels data into a separate np array
y = np.array(target)
y.shape

(768,)

In [132]:
# Split X and y into training and test set in 75:25 ratio
#X_train, X_test, y_train, y_test = train_test_split(features_df_z,target, test_size = 0.25, random_state = 0)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [133]:
#feature Scaling  
#from sklearn.preprocessing import StandardScaler    
#st_x= StandardScaler()  
#X_train= st_x.fit_transform(X_train)    
#X_test= st_x.transform(X_test)    

from sklearn.svm import SVC
# Building a Support Vector Machine on train data
#svc_model = SVC(C=2.0, kernel='linear', degree=3
svc_model = SVC(C= 0.5, kernel='linear', degree=5)
svc_model.fit(X_train, y_train)  
prediction = svc_model .predict(X_test)
# check the accuracy on the training set
print(svc_model.score(X_train, y_train))
print(svc_model.score(X_test, y_test))

print("Accuracy:",accuracy_score(y_test, prediction))
print("Precision:",precision_score(y_test, prediction))
print("Recall:",recall_score(y_test, prediction))

0.7673611111111112
0.7760416666666666
Accuracy: 0.7760416666666666
Precision: 0.7407407407407407
Recall: 0.5797101449275363

In [134]:
print("Confusion Matrix:\n",confusion_matrix(y_test,prediction))

Confusion Matrix:
 [[109  14]
 [ 29  40]]

In [135]:
# Building a Support Vector Machine on train data
svc_model = SVC(kernel='rbf')
svc_model.fit(X_train, y_train)
prediction = svc_model.predict(X_test)
  
print(svc_model.score(X_train, y_train))
print(svc_model.score(X_test, y_test))
print("Accuracy:",accuracy_score(y_test, prediction))
print("Precision:",precision_score(y_test, prediction))
print("Recall:",recall_score(y_test, prediction))

0.8194444444444444
0.7864583333333334
Accuracy: 0.7864583333333334
Precision: 0.7916666666666666
Recall: 0.5507246376811594

In [136]:
#Building a Support Vector Machine on train data(changing the kernel)
svc_model  = SVC(kernel='poly')
svc_model.fit(X_train, y_train)
  
prediction = svc_model.predict(X_test)
  
print(svc_model.score(X_train, y_train))
print(svc_model.score(X_test, y_test))
print("Accuracy:",accuracy_score(y_test, prediction))
print("Precision:",precision_score(y_test, prediction))
print("Recall:",recall_score(y_test, prediction))

0.78125
0.7239583333333334
Accuracy: 0.7239583333333334
Precision: 0.7352941176470589
Recall: 0.36231884057971014

In [137]:
#Building a Support Vector Machine on train data(changing the kernel)
svc_model  = SVC(kernel='sigmoid')
svc_model.fit(X_train, y_train)
  
prediction = svc_model.predict(X_test)
  
print(svc_model.score(X_train, y_train))
print(svc_model.score(X_test, y_test))
print("Accuracy:",accuracy_score(y_test, prediction))
print("Precision:",precision_score(y_test, prediction))
print("Recall:",recall_score(y_test, prediction))

0.6666666666666666
0.7239583333333334
Accuracy: 0.7239583333333334
Precision: 0.6052631578947368
Recall: 0.6666666666666666

# if kernel='linear' we are getting highest accuracy compared to other kernal types